# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

# Admin User Configuration
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=your_secure_admin_password
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=Admin


#------ OPTIONAL CONFIGURATIONS ------#

# Database Connection Overrides (Optional)
# Uncomment to override default connection strings from application.properties
# PRIVATE_DB_URL=jdbc:postgresql://private:5432/private_eHealth_Insights
# HOSPITAL1_DB_URL=jdbc:postgresql://hospital1:5433/hospital1_eHealth_Insights
# HOSPITAL2_DB_URL=jdbc:postgresql://hospital2:5434/hospital2_eHealth_Insights
# HOSPITAL3... etc.

# Hospital Users Configuration
HOSPITAL1_EMAIL=hospital1@ehealth.com
HOSPITAL1_PASSWORD=your_secure_hospital1_password
HOSPITAL1_FIRSTNAME=Hospital1
HOSPITAL1_LASTNAME=Hospital1

#  Researcher Users Configuration
RESEARCHER1_EMAIL=johndoe@ehealth.com
RESEARCHER1_PASSWORD=your_secure_researcher1_password
RESEARCHER1_FIRSTNAME=John
RESEARCHER1_LASTNAME=Doe