# Environment variables
.env

# IDE files  
/.idea
/.vscode

# Dependencies
node_modules/
target/
*.jar
!wrapper/*.jar

# Logs
*.log
logs/

# Runtime files
*.pid
*.seed
*.pid.lock

# Database files
*.db
*.sqlite

# Docker volume mount points
db_setup/omop/16_persons.sql
db_setup/omop/17_conditions.sql
db_setup/omop/18_drugs.sql
db_setup/omop/19_visits.sql
db_setup/omop/20_observations.sql

#OHDSI Folder - Official GitHub Repository of OMOP CDM
OHDSI